.container {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 0.5fr 2fr min-content;
  align-items: center;
  justify-items: center;
  background: limegreen;
}

.coin_container {
  grid-row: 3/4;
  width: 90%;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  align-self: center;
}

.footer {
  grid-row: 5/6;
  font-variant: small-caps;
}

.title {
  font-size: 2rem;
  text-transform: capitalize;
  padding: 10px 30px;
  margin: 0;
  justify-items: flex-start;
  width: 100%;
  background: #fff;
  display: grid;
  grid-template-columns: min-content 20px min-content;
}

.span {
  font-size: 1rem;
  text-transform: lowercase;
  font-variant: small-caps;
  align-self: center;
  justify-self: center;
}

@media (max-width: 600px) {
  .title {
    align-self: center;
    font-size: 2rem;
    text-align: center;
  }

  .totalCents {
    align-self: center;
  }
}
