.coin {
  position: relative;
  width: 200px;
  display: grid;
  place-items: center;
}

.amount {
  position: absolute;
  font-size: 4rem;
  color: black;
  right: 35px;
  bottom: -80px;
}

.coin_img {
  width: 100px;
}
