.container {
  width: 80%;
  padding: 0;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  align-items: center;
  justify-content: center;
  grid-row: 2/3;
}

/* .logo {
  width: 90px;
  height: 140px;
} */

.fake_input {
  font-size: 6rem;
  border: none;
  width: 100%;
  grid-column: 1/2;
  outline: none;
  text-align: center;
}

.fake_input:disabled {
  background: none;
  color: black;
}

.input {
  width: 100%;
  max-width: 700px;
  font-size: 5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  outline: none;
  grid-column: 2/3;
  background: transparent;
}

@media (max-width: 600px) {
  .container {
    width: 70%;
    grid-template-columns: 0.2fr 1fr;
  }
  .fake_input {
    font-size: 2rem;
    text-align: center;
  }

  .input {
    width: 100%;
    font-size: 2.5rem;
  }
}
